.projectMain {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: center;
  border: 2px solid red;
  min-height: 20vh;
  gap: 2vw;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-right: 3vw;
}

.h4 {
  font-size: 3vh;
  margin-bottom: 2vh;
}
