.projectMain {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: auto;
  // min-height: 30vh;
  gap: 2vw;
  padding: 2vh;
  box-sizing: border-box;
  margin-bottom: 5vh;
}

.projectMain:hover {
  border: 0.1px solid var(--secondary-background);
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2vh;
  background-color: var(--secondary-background);

  .projectInfo,
  .h4,
  .techContainer,
  .about {
    background-color: var(--secondary-background);
  }

  .h4 {
    color: var(--blue-light);
  }
}

.imageBorder {
  border: 1.5px solid var(--blue-dark);
  height: 80px;
  min-width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-right: 1vw;
  position: relative;
  gap: 2vh;
}

.h4 {
  font-size: 3vh;
  margin-bottom: 2vh;
}

.techContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  margin-top: 2vh;
  // position: absolute;
  // bottom: 1vh;
  flex-wrap: wrap;
}

.tech {
  background-color: var(--blue-dark);
  border-radius: 25px;
  padding: 0.5vh 1vw;
  color: var(--blue-light);
  opacity: 0.8;
  white-space: nowrap;
}

.about {
  // max-width: 22vw;
}

@media screen and (max-width: 999px) {
  .projectMain {
    width: 92vw;
    flex-direction: column-reverse;
    padding: 2vh 0;
  }

  .imageBorder {
    // height: 15vh;
    height: 80px;
    width: 150px;
    overflow: hidden;
    margin-top: 2vh;
  }

  .about {
    font-size: 1.5vh;
    padding-right: 4vw;
  }

  .h4 {
    font-size: 2vh;
  }

  .tech {
    padding: 0.5vh 2.5vw;
    font-size: 1.5vh;
  }
}
