.projectMain {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: center;
  min-height: 20vh;
  gap: 2vw;
  padding: 2vh;
  box-sizing: border-box;
  margin-bottom: 5vh;
}

.projectMain:hover {
  border: 0.1px solid var(--secondary-background);
  border-radius: 20px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2vh;
  background-color: var(--secondary-background);

  .projectInfo,
  .h4,
  .techContainer,
  .about {
    background-color: var(--secondary-background);
  }
}

.imageBorder {
  border: 1.5px solid var(--pink-light);
  height: 80px;
  min-width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  padding-right: 1vw;
}

.h4 {
  font-size: 3vh;
  margin-bottom: 2vh;
}

.techContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  margin-top: 2vh;
}

.tech {
  background-color: var(--pink-light);
  border-radius: 25px;
  padding: 0.5vh 1vw;
  color: var(--pink-dark);
}
