.sectionDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1.5vh;
}

.h4 {
  color: var(--tan-light);
  font-size: 2.2vh;
}

.line {
  width: 3vw;
  border: none;
  border-bottom: 2px solid var(--tan-light);
  transition: width 1s ease;
}

.sectionDiv:hover {
  cursor: pointer;

  .line {
    width: 7vw;
    border-color: var(--primary-text);
  }

  .h4 {
    color: var(--primary-text);
  }
}
