.main {
  width: 40vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8vw;
}

.h1 {
  font-size: 8vh;
  margin: 8vh 0 2vh 0;
}

.h2 {
  font-weight: 200;
}

.h3 {
  color: var(--tan-light);
  margin-top: 2vh;
}

.goTos {
  margin-top: 15vh;
}

.contacts {
  position: absolute;
  bottom: 10vh;
  display: flex;
  flex-direction: row;
  gap: 1.7vw;
  height: 10vh;
}

.icon {
  font-size: 4vh;
  color: var(--primary-text);
}

.icon:hover {
  cursor: pointer;
  font-size: 4.5vh;
}
