.aboutMain {
  min-height: 90vh;
  padding: 0 4vw 0 0;
}

.intro {
  margin-top: 3vh;
  font-size: 2.2vh;
  line-height: 4vh;
}

.link {
  color: var(--tan-light);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--blue-light);
}

@media screen and (max-width: 501px) {
  .aboutMain {
    margin-bottom: 10vh;
    // padding: 0;
    width: 92vw;
  }

  .intro {
    font-size: 1.5vh;
    line-height: 3vh;
  }

  .aboutMain {
    min-height: 50vh;
  }
}
