.aboutMain {
  min-height: 90vh;
}

.intro {
  margin-top: 3vh;
  font-size: 2.2vh;
  line-height: 4vh;
}

.link {
  color: var(--tan-light);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: var(--blue-light);
}
