:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --primary-background: #4a5759;
  --primary-text: #f7e1d7;
  --green-light: #dedbd2;
  --tan-light: #b0c4b1;
  --pink-light: #edafb8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
