.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  max-height: 100vh;
  /* gap: 15vw; */
}

@media screen and (max-width < 501px) {
  .main {
    flex-direction: column;
  }
}
