.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  max-height: 100vh;
}

.rightCol {
  width: 60vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

@media screen and (max-width < 501px) {
  .main {
    flex-direction: column;
  }
}
